@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@1,900&display=swap');

body {
    background-color: #242d3b;
    font-family: 'Roboto', sans-serif;
}

.container {
    text-align: center;
    max-width: 660px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background: black url('/img/jeremy-bishop-G9i_plbfDgk-unsplash.jpg') top center / cover;
    text-align: center;
    padding: 150px 0;
    color: aliceblue;
    border-bottom: 2px solid #89fcf3;
    box-shadow: 0 0 10px #89fcf3;
}


header h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 5em;
    color: #89fcf3;
    line-height: 1em;
    text-align: left;
    transform: skewY(-5deg);
    padding-bottom: 60px;
}

header h1 span {
    display: block;
    text-align: right;
}

header p {
    color: #cccdcf;
    font-size: 18px;
    max-width: 540px;
    margin: 0 auto;
}

form {
    background: #151515;
    border-radius: 12px;
    padding: 50px;
    margin: -40px 0 150px;
    font-size: 28px bold;
    position: relative;
    box-shadow: 0 40px 50px -50px #89fcf3;
}

form input {
    display: block;
    width: 100%;
    border-radius: 12px;
    border: none;
    height: 68px;
    padding: 15px;
    background: #242d3b;
    color: aliceblue;
    transition: 0.5s;
}

form input:focus {
    outline: none;
    box-shadow: 0px 10px 30px -10px #c8faf6;
    filter: contrast(85%);
}

form label {
    color: #cccdcf;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 15px;
    text-align: left;
}

form .subscribe {
    max-width: 300px;
    border: 2px #89fcf3 solid;
    border-radius: 45px;
    height: auto;
    background: #151515;
    font-weight: bold;
    line-height: normal;
    margin: 0 auto -80px;
    margin-top: 30px;

}

form .subscribe:hover {
    background: #89fcf3;
    color: #151515;
    cursor: pointer;
}